@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Este es el truco para que el mapa no se corte */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  z-index: 1;
}

/* Evita que el mapa se rompa en pantallas grandes */
.leaflet-map-pane {
  z-index: 1 !important;
}

/* Esto obliga al mapa a ocupar todo su espacio */
.leaflet-container {
  width: 100%;
  height: 100%;
  background-color: #242424; /* Color oscuro de fondo mientras carga */
}
