@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Este es el truco para que el mapa no se corte */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
